<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <h1 style="text-transform: uppercase">Hello,
            <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
        </h1>
        <span th:text="${'Email: ' + email}"></span>
        <br>
        <span th:text="${'Phone: ' + phone}"></span>
        <br>
        <span>STEAM_ID:
            <span th:if="${steamID!=null and #strings.length(steamID)>0}">
                <a th:href="@{https://steamcommunity.com/profiles/{steam}(steam=${steamID})}">account</a>
            </span>
            <span th:unless="${steamID!=null and #strings.length(steamID)>0}">
                <a th:href="@{/link}">Link Steam Account</a>
            </span>
        </span>
        <br>
        <span th:text="${'Balance: ' + balance}"></span>
        <br>
        <span th:text="${'Registration date: ' + regDate}"></span>
        <br>
        <br>
        <a th:href="@{/settings}">Settings</a>  <a th:href="@{/lots}">My lots</a> <a th:href="@{/market}">Market</a> <a th:href="@{/purchases}">My purchases</a>
        <br>
        <br>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <div sec:authorize="isAnonymous()">
        <form th:action="@{/login}" method="get">
            <input type="submit" value="Log in">
        </form>
    </div>
</body>
</html>