<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Lots</title>
</head>
<body>
<h1>LOTS</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="lot : ${lots}">
        <td th:text="${lot.id}"></td>
        <td th:text="${lot.item.name}"></td>
        <td th:text="${lot.description}"></td>
        <td th:text="${lot.price + '$'}"></td>
        <td th:text="${lot.status}"></td>
        <td>
            <form th:action="@{/lots/edit/{id}(id=${lot.id})}" method="get">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td>
            <form th:action="@{/lots/delete/{id}(id=${lot.id})}" method="post">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
</table>
<br>
<br>
<a th:href="@{/}">Main page</a> <a th:href="@{/lots/add}">Add new lot</a>
</body>
</html>